.cardlocation {
    height: 260px;
    width: 200px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px 40px;
    border: 2px solid #69696910;
}

.cardlocation__container__image {
    height: 54%;
    width: 100%;
}

.cardlocation__container__image__image {
    height: 100%;
    width: 100%;
    background-color: #A2D2FF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardlocation__container__name {
    width: 100%;
    margin: 30px 0px 0px 20px;
}

.cardlocation__container__name__name {
    text-transform: uppercase;
    text-decoration: none;
    color: #403d39;
    font-weight: 600;
}

.cardlocation__discounts {
    display: flex;
    width: 100%;
    margin: 14px 0px 0px 20px;
    font-weight: 600;
}

.cardlocation__discounts__value {
    color: #1D3557;
    font-weight: 700;
    font-size: 18px;
}

.cardlocation__discounts__value1 {
    color: #023E8A;
    font-weight: 700;
    font-size: 18px;
}

.cardlocation__discounts__value2 {
    color: #48CAE4;
    font-weight: 700;
    font-size: 18px;
}

.cardlocation__location {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px 0px 20px;
    font-size: 12px;
}